{{template "base" .}}

{{define "tittle"}}О проекте | Разработка iOS-приложения{{end}}
    
{{define "content"}}
<main class="container">
        <section>
            <h2>О проекте</h2>
            <p>Создание мобильного приложения личного кабинета Московского Политехнического Университета для платформы iOS на базе языка программирования SwiftUI.</p>
            
            <h3>Актуальность проекта</h3>
            <p>Мобильное приложение личного кабинета позволит студентам получить удобный доступ к учебным материалам, расписанию и другим важным функциям прямо со своих iPhone.</p>
            
            <h3>Проблематика</h3>
            <p>Существующие решения не всегда удобны для мобильных устройств или не учитывают особенности iOS-платформы. Наш проект направлен на создание нативного удобного интерфейса, оптимизированного для iPhone.</p>
            
            <h3>Цели и задачи</h3>
            <p>Целью проекта является создание первых функций приложения и обновление его дизайна в соответствии с корпоративным стилем университета.</p>
            <p>Основные задачи:</p>
            <ul>
                <li>Изучение разработок предыдущей команды</li>
                <li>Обновление дизайна экранов</li>
                <li>Изучение API личного кабинета</li>
                <li>Верстка экранов в SwiftUI</li>
                <li>Разработка скриптов для работы с API</li>
                <li>Создание документации</li>
            </ul>

            <h3>Этапы реализации</h3>
            <ol>
                <li>Анализ и изучение материалов</li>
                <li>Планирование и распределение обязанностей</li>
                <li>Подготовка среды для разработки</li>
                <li>Выполнение поставленных задач</li>
                <li>Оценка работы и планирование следующего этапа</li>
            </ol>
        </section>
    </main>
{{end}}