{{template "base" .}}

{{define "tittle"}}Ресурсы | Разработка iOS-приложения{{end}}
    
{{define "content"}}
    <main class="container">
        <section>
            <h2>Полезные ресурсы</h2>
            
            <div class="resource-category">
                <h3>Официальная документация</h3>
                <ul>
                    <li><a href="https://developer.apple.com/documentation/swiftui/" target="_blank">SwiftUI Documentation</a> - официальная документация по SwiftUI</li>
                    <li><a href="https://developer.apple.com/documentation/" target="_blank">Apple Developer Documentation</a> - документация для iOS-разработчиков</li>
                </ul>
            </div>
            
            <div class="resource-category">
                <h3>Образовательные материалы</h3>
                <ul>
                    <li><a href="https://www.hackingwithswift.com/" target="_blank">Hacking with Swift</a> - учебные материалы по Swift и SwiftUI</li>
                    <li><a href="https://swiftbook.ru/" target="_blank">SwiftBook</a> - русскоязычный ресурс по Swift разработке</li>
                </ul>
            </div>
            
            <div class="resource-category">
                <h3>Дизайн-ресурсы</h3>
                <ul>
                    <li><a href="https://www.figma.com/" target="_blank">Figma</a> - инструмент для дизайна интерфейсов</li>
                    <li><a href="https://developer.apple.com/design/" target="_blank">Apple Design Resources</a> - гайдлайны и ресурсы от Apple</li>
                </ul>
            </div>
            
            <div class="resource-category">
                <h3>API документация</h3>
                <ul>
                    <li><a href="https://swift.org/" target="_blank">Swift.org</a> - документация по языку Swift</li>
                    <li><a href="https://developer.apple.com/documentation/foundation/urlsession" target="_blank">URLSession</a> - работа с сетевыми запросами в iOS</li>
                </ul>
            </div>
        </section>
    </main>
{{end}}