{{template "base" .}}

{{define "tittle"}}Server_Testing_Page{{end}}
    
{{define "content"}}
    <main class="container">
        <div class="row">
            <div class="col">
                <h1>Server_Testing_Page</h1>
                <p>демонстрация работы сервера</p>

                <p>это данные от шаблона: {{index .StringMap "test"}}</p>
                <p>время в Москве сейчас: {{index .StringMap "time"}}</p>
                <p>случайное число: {{index .IntMap "randomnum"}}</p>
                <p>
                    {{if ne (index .StringMap "remote_ip") ""}}
                        Твой IP - {{index .StringMap "remote_ip"}}
                    {{else}}
                        Я не знаю ваш айпи. Зайдите на <a href="/home">Главную</a>, чтобы я мог его узнать
                    {{end}}
                </p>
            </div>
        </div>
    </main>
{{end}}