{{template "base" .}}

{{define "tittle"}}Server_Testing_Page{{end}}
    
{{define "content"}}
    <main class="container">
        <div class="row">
            <div class="col">
                <h1>Server_Testing_Page</h1>
                <p>and also some experiments</p>

                <p>This came from the template: {{index .StringMap "test"}}</p>
            </div>
        </div>
    </main>
{{end}}