<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server_Testing_Page</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>ИТ-сервисы для «Цифрового университета | Разработка iOS-приложения личного кабинета</h1>
            <nav>
                <ul>
                    <li><a href="/home">Главная</a></li>
                    <li><a href="/about">О проекте</a></li>
                    <li><a href="/team">Команда</a></li>
                    <li><a href="/journal">Журнал</a></li>
                    <li><a href="/resources">Ресурсы</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container">
        <div class="row">
            <div class="col">
                <h1>Server_Testing_Page</h1>
                <p>and also some experiments</p>
            </div>
        </div>
    </main>
</body>
</html>