{{template "base" .}}

{{define "tittle"}}Команда | Разработка iOS-приложения{{end}}
    
{{define "content"}}
    <main class="container">
        <section>
            <h2>Наша команда</h2>

            <div class="team-member">
                <h3>Грачев Иван Павлович</h3>
                <p class="role">Разработчик</p>
                <p>Разработка интерактивных элементов, тестирование.</p>
            </div>
            
            <div class="team-member">
                <h3>Деген Светислав Владимирович</h3>
                <p class="role">Руководитель проекта</p>
                <p>Координация работы команды, планирование задач, взаимодействие с куратором.</p>
            </div>
            
            <div class="team-member">
                <h3>Белый Данила Юрьевич</h3>
                <p class="role">Разработчик</p>
                <p>Разработка интерактивных элементов, работа с API.</p>
            </div>
            
            <div class="team-member">
                <h3>Щеблыкин Константин Евгеньевич</h3>
                <p class="role">Разработчик</p>
                <p>Верстка экранов в SwiftUI, интеграция компонентов.</p>
            </div>
            
            <div class="team-member">
                <h3>Вольская Елизавета Сергеевна</h3>
                <p class="role">Дизайнер</p>
                <p>Создание макетов в Figma, разработка интерфейсов.</p>
            </div>
            
            <div class="team-member">
                <h3>Мирзоева Камилла Джунайдуллоевна</h3>
                <p class="role">Дизайнер</p>
                <p>Проработка пользовательских сценариев, тестирование интерфейсов.</p>
            </div>
            
            <div class="team-member">
                <h3>Муравьев Савелий Сергеевич</h3>
                <p class="role">Разработчик</p>
                <p>Работа с API, интеграция данных.</p>
            </div>
            
            <div class="team-member">
                <h3>Себелева Екатерина Алексеевна</h3>
                <p class="role">Дизайнер</p>
                <p>Создание макетов, поддержание корпоративного стиля.</p>
            </div>
        </section>
    </main>
{{end}}